<ul class="nav">
  <li class="nav-item">
    <a class="nav-link" href="/">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/users">Users</a>
  </li>
  <% if signed_in? %>
    <li class="nav-item">
      <%= link_to 'Sign Out', sign_out_path, method: :delete, class: 'nav-link' %>
    </li>
    <li class="nav-item">
      <%= link_to 'Test Notification', global_notification_path, method: :post, remote: true, class: 'nav-link' %>
    </li>
    <li class="nav-item nav-text">
      Signed in as: <%= current_user.email %>
    </li>
  <% else %>
    <li class="nav-item">
      <%= link_to 'Sign In', sign_in_path, class: 'nav-link' %>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/sign_up">Sign Up</a>
    </li>
  <% end %>
</ul>
